<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>네일리티</title>

    <!-- Bootstrap -->
    <link href="./vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="./vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="./vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="./vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="./vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="./vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="./vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="./build/css/custom.min.css" rel="stylesheet">
</head>

<div id="preloader">
    <div class="loader"></div>
</div>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/" class="site_title"> <span>네일리티</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img src="images/img.jpg" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>환영합니다,</span>
                        <h2><%=userID%></h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br />

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <ul class="nav side-menu">
                            <li><a href="/"><i class="fa fa-home"></i> 홈 화면 </a>
                            </li>
                            <li><a><i class="fa fa-edit"></i> 회원관리 </a>
                                <ul class="nav child_menu">
                                    <li><a href="/member">회원 관리 </a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-desktop"></i> 예약 관리</a>
                                <ul class="nav child_menu">
                                    <li><a href="/appointment_calendar">예약 스케줄 </a></li>
                                    <li><a href="/end_appointment">예약 마감</a></li>
                                    <li><a href="/appointment">예약 검색</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-table"></i> 시술 관리 </a>
                                <ul class="nav child_menu">
                                    <li><a href="/procedure">시술 관리 </a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-won"></i> 매출 관리 </a>
                                <ul class="nav child_menu">
                                    <li><a href="/add_profit">매출 등록 </a></li>
                                    <li><a href="/profit">매출 검색 </a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-envelope-o"></i> 회원권 관리 </a>
                                <ul class="nav child_menu">
                                    <li><a href="/edit_membership">회원권 관리 </a></li>
                                    <li><a href="/membership">회원권 검색 </a></li>
                                </ul>
                            </li>
                            <li><a href="/user"><i class="fa fa-user"></i> 관리자 승인 </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="images/img.jpg" alt=""><%=userID%>
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="javascript:;"> 회원정보 수정</a></li>
                                <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> 로그아웃 </a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <!-- top tiles -->
            <div class="row tile_count">
                <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> 총 회원 수 </span>
                    <div class="count" id="user_num"></div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> 총 예약 수</span>
                    <div class="count" id="appointment_num"></div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i>&nbsp;<a id="month"></a>월 예약 수 </span>
                    <div class="count" id="appointment_month_num"></div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> 일 평균 예약 수 </span>
                    <div class="count" id="appointment_dayavg"></div>
                </div>
            </div>
            <!-- /top tiles -->

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="dashboard_graph">
                        <div class="row x_title">
                            <div class="col-md-6">
                                <h3> 날짜별 예약 수<small>(단위 : 개)</small></h3>
                            </div>
                            <div class="col-md-6">
                                <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    <span></span> <b class="caret"></b>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-9 col-xs-12">
                            <canvas id="chart_plot_01" class="demo-placeholder"  height="75px"></canvas>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="dashboard_graph">
                        <div class="row x_title">
                            <div class="col-md-6">
                                <h3> 날짜별 매출<small>(단위 : 원)</small></h3>
                            </div>
                            <div class="col-md-6">
                                <div id="reportrange2" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    <span></span> <b class="caret"></b>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-9 col-xs-12">
                            <canvas id="chart_plot_02" class="demo-placeholder"  height="75px"></canvas>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="x_panel tile fixed_height_320">
                        <div class="x_title">
                            <h4>고객 매출 순위<small>(단위 : 만원)</small></h4>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="widget_summary">
                                <div class="w_left w_25">
                                    <span id="pf_rank_1"></span>
                                </div>
                                <div class="w_center w_55">
                                    <div class="progress">
                                        <div id='pf_pg_1' class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                                <div class="w_right w_20">
                                    <span id="pf_value_1"></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="widget_summary">
                                <div class="w_left w_25">
                                    <span id="pf_rank_2"></span>
                                </div>
                                <div class="w_center w_55">
                                    <div class="progress">
                                        <div id='pf_pg_2'  class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                                <div class="w_right w_20">
                                    <span id="pf_value_2"></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary">
                                <div class="w_left w_25">
                                    <span id="pf_rank_3"></span>
                                </div>
                                <div class="w_center w_55">
                                    <div class="progress">
                                        <div id='pf_pg_3' class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                                <div class="w_right w_20">
                                    <span id="pf_value_3"></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary">
                                <div class="w_left w_25">
                                    <span id="pf_rank_4"></span>
                                </div>
                                <div class="w_center w_55">
                                    <div class="progress">
                                        <div id='pf_pg_4' class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                                <div class="w_right w_20">
                                    <span id="pf_value_4"></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget_summary">
                                <div class="w_left w_25">
                                    <span id="pf_rank_5"></span>
                                </div>
                                <div class="w_center w_55">
                                    <div class="progress">
                                        <div id='pf_pg_5' class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                                <div class="w_right w_20">
                                    <span id="pf_value_5"></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="x_panel tile fixed_height_320 overflow_hidden">
                        <div class="x_title">
                            <h4>시술 종류별 매출</h4>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="" style="width:100%">
                                <tr>
                                    <th style="width:37%;">
                                        <p>Top 5</p>
                                    </th>
                                    <th>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                            <p class="">시술</p>
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                            <p class="">비율</p>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <canvas class="canvasDoughnut" id="dn2" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                                    </td>
                                    <td>
                                        <table class="tile_info">
                                            <tr>
                                                <td>
                                                    <p id="pf_type_1"><i class="fa fa-square blue"></i></p>
                                                </td>
                                                <td id="pf_type_value_1"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p id="pf_type_2"><i class="fa fa-square green"></i></p>
                                                </td>
                                                <td id="pf_type_value_2"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p id="pf_type_3"><i class="fa fa-square purple"></i></p>
                                                </td>
                                                <td id="pf_type_value_3"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p id="pf_type_4"><i class="fa fa-square red"></i></p>
                                                </td>
                                                <td id="pf_type_value_4"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p id="pf_type_5"><i class="fa fa-square aero"></i></p>
                                                </td>
                                                <td id="pf_type_value_5"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="x_panel tile fixed_height_320 overflow_hidden">
                        <div class="x_title">
                            <h4>시술 결제수단별 매출</h4>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="" style="width:100%">
                                <tr>
                                    <th style="width:37%;">
                                        <p></p>
                                    </th>
                                    <th>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                            <p class="">결제 수단</p>
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                            <p class="">비율</p>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <canvas class="canvasDoughnut" id="dn1" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                                    </td>
                                    <td>
                                        <table class="tile_info">
                                            <tr>
                                                <td>
                                                    <p id="pf_method_1"><i class="fa fa-square blue"></i>현금 </p>
                                                </td>
                                                <td id="pf_method_val_1"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p id="pf_method_2"><i class="fa fa-square green"></i>카드</p>
                                                </td>
                                                <td id="pf_method_val_2"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p id="pf_method_3"> <i class="fa fa-square purple"></i>이체</p>
                                                </td>
                                                <td id="pf_method_val_3"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p id="pf_method_4"> <i class="fa fa-square red"></i>회원권</p>
                                                </td>
                                                <td id="pf_method_val_4"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p id="pf_method_5"> <i class="fa fa-square aero"></i>기타</p>
                                                </td>
                                                <td id="pf_method_val_5"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                네일리티 웹페이지 by KKI
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
<script src="./vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="./vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="./vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="./vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="./vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="./vendors/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="./vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="./vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="./vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="./vendors/Flot/jquery.flot.js"></script>
<script src="./vendors/Flot/jquery.flot.pie.js"></script>
<script src="./vendors/Flot/jquery.flot.time.js"></script>
<script src="./vendors/Flot/jquery.flot.stack.js"></script>
<script src="./vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="./vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="./vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="./vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="./vendors/DateJS/build/date.js"></script>
<!-- JQVMap -->
<script src="./vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="./vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="./vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="./vendors/moment/min/moment.min.js"></script>
<script src="./vendors/moment/locale/ko.js"></script>
<script src="./vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- Custom Theme Scripts -->
<script src="./build/js/custom.js"></script>
<script src="./js/custom/index.js"></script>
</body>
</html>
